{% trans_default_domain('dashboard') %}

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas-widgets" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">{{ 'Widgets'|trans }}</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="list-group components">
            {% for groupName,widgetGroup in config.widgets %}
                <h3 class="text-center">{{ groupName }}</h3>
                {% for widget in widgetGroup %}
                    {# Gestion des droits #}
                    {% if widget.roles|length > 0 %}
                        {% set granted=false %}
                        {% for role in widget.roles %}
                            {% set granted = (granted or is_granted(role)) %}
                        {% endfor %}
                    {% else %}
                        {% set granted=true %}
                    {% endif %}
                    {% if  granted %}
                        <a class="widgetButton list-group-item list-group-item-action" type="{{ widget.entity }}" href="#">
                            <i class="{{ widget.icon }}"></i> {{ widget.libelle|trans }}
                        </a>
                    {% endif %}

                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div id="content" class="">
                <h1>{% block dashboard_icon %}<i class="fa fa-columns"></i>{% endblock %} {% block dashboard_title %}{{ config.title|default('Dashboard')|trans }}{% endblock %}</h1>
                <div class="grid-stack grid-stack-{{ config.nbColumns }}"></div>
                <button id="dashboard-addwidget" class="btn btn-primary rounded-circle dashboard-addwidget" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-widgets">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div id="widgetConfig" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
            <div id="widgetForm" class="modal-content">

            </div>
    </div>
</div>
