<div class="widget container-fluid p-3" style="background-color: {{ widget.bgColor }};color: {{ widget.textColor }};height:100%; {% block widgetStyle %}{% endblock %}">
    <div class="row">
        <div class="col-12 title">
            {% block title %}{% endblock %}
        </div>
    </div>
    <div class="row">
    <div class="content col-12">
        {% block content %}
            Widget Content
        {% endblock %}
    </div>
    </div>
    <div class="footer">
        {% block footer %}{% endblock %}
    </div>
    <div class="btn-group btn-sm btn-widget d-none float-right" style="position:absolute; top:.3em; right: .3em;">
            <div wid="{{ widget.id }}" class="btn  btn-sm btn-config" style="color: {{ widget.textColor }};"><i class="fa fa-cog"></i></div>
            <div class="btn  btn-sm btn-close"  style="color: {{ widget.textColor }};" onClick="grid.removeWidget(this.parentNode.parentNode.parentNode.parentNode)"><i class="fa fa-times"></i></div>
    </div>
</div>